<div ng-controller="allUser">
  <div class="mainContainer">
    <div class="header">
      <img ng-src="../Images/gitHubIcon.png" width="50" , height="50" />
      <h2 class="mainHeading">GitHub Profile Viewer</h2>
      <br />
    </div>
    <div class="searchBar">
      Search:
      <input
        type="text"
        placeholder="Search user..."
        ng-model="searchText"
        ng-change="searchUser(searchText) "
      />
      <br /><br />
    </div>

    <div ng-if="loading === false">
      <div
        class="allUserContainer"
        infinite-scroll="scrollFunction()"
        infinite-scroll-distance="2"
      >
        <div ng-repeat="user in users " class="usersDetailContainer">
          <a href="#!/users/{{user.login}}" class="hrefDiv">
            <div class="usersDetail">
              <img ng-src="{{user.avatar_url}}" class="avatar" />
              <h3>{{user.login}}</h3>
            </div>
          </a>
        </div>
        <div ng-if="users.length===0">
          <img class="resultNotFound" src="../Images/no-result-found.webp" />
        </div>
      </div>
    </div>
    <div ng-if="loading === true" class="loadingImage">
      <img src="../Images/loadingImage.jpg" />loading...
    </div>
  </div>
</div>
