<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="users.css" />
    <title>GitHub User</title>
  </head>
  <body>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/X.Y.Z/angular-route.js"></script> -->

    <script src="app.js"></script>
    <div ng-view=""></div>
    <div ng-app="gitHubApp">
      <div ng-controller="allUser">
        <div class="mainContainer">
          <div class="header">
            <img ng-src="../Images/gitHubIcon.png" width="50" , height="50" />
            <h2 class="heading">GitHub Profile Viewer</h2>
            <br />
          </div>
          <div class="searchBar">
            Search:
            <input
              type="text"
              placeholder="Search user"
              ng-model="searchText.user"
            />
            <br /><br />
          </div>

          <div class="userContainer">
            <div
              ng-repeat="user in users | filter: searchText.user"
              class="userDetails"
              ng-click="userDetails()"
            >
              <img ng-src="{{user.avatar_url}}" class="avatar" />
              <h3>{{user.login}}</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
