<div ng-controller="allUser">
  <div class="mainContainer">
    <div class="header">
      <img ng-src="../Images/gitHubIcon.png" width="50" , height="50" />
      <h2 class="mainHeading">GitHub Profile Viewer</h2>
      <br />
    </div>
    <div class="searchBar">
      <input
        class="inputField"
        type="text"
        placeholder="Search user..."
        ng-model="searchText"
        ng-change="searchUser(searchText) "
      />
      <i
        class="fas fa-search"
        style="position: relative; right: 50px; color: blueviolet"
      ></i>
      <h3>Please enter the user name</h3>
      <div
        class="allUserContainer"
        infinite-scroll="scrollFunction(page+1)"
        infinite-scroll-disabled="isDisabled"
      >
        <div ng-repeat="user in users " class="usersDetailContainer">
          <a href="#!/users/{{user.login}}" class="hrefDiv">
            <div class="usersDetail">
              <img ng-src="{{user.avatar_url}}" class="avatar" />
              <h3>{{user.login}}</h3>
            </div>
          </a>
        </div>
      </div>
      <br /><br />

      <div ng-if="loading === false && users.length===0 && searchString ">
        <img class="resultNotFound" src="../Images/no-result-found.webp" />
      </div>
      <div ng-if="loading === true" class="loading_container">
        <img src="../Images/loading.gif" class="loading_gif" />
        <h2>Loading...</h2>
      </div>
    </div>
  </div>
</div>
